/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 *
 */

nav ul a,
nav .brand-logo {
  color: #fff;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #fff;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }
  
#index-banner.parallax-container{
	min-height:600px;
	background-color: rgba(0, 0, 0, 0.4);
}
@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}


.icon-block {
  padding: 0 15px;
}

footer.page-footer {
  margin: 0;
}
/*************Scroll to top************************/
.back-to-top {
    position: fixed;
    bottom: 2em;
    right: 0px;
    text-decoration: none;
    color: #000000;
    background-color: rgba(235, 235, 235, 0.80);
    font-size: 12px;
    padding: 1em;
    display: none;
}

.back-to-top:hover {    
    background-color: rgba(135, 135, 135, 0.50);
}
/*************************************************/
.banner {
  padding: 14px 0;
  height: 64px;
  line-height: 36px;
  background-color: #5c5757;
  background-image:url(../img/bg.png);
  color: #e6e6e6;
  font-size: .9rem; }

@media only screen and (max-width : 992px) {
  .banner {
    text-align: center; } 
	}

.name {
  color: #cddc39;
  margin: 0 6px 0 6px; 
   }
  .date {
  color: #cddc39;
  margin: 0 6px 0 6px; 
  }
/****************************************************/
.logo_img{
	margin-bottom:-10px;
	height: 100%;
	width: 100%;
}
/*****************Contact form*************************/
/* label color */
   .input-field label {
     color: #000;
   }
   /* label focus color */
   .input-field input[type=text]:focus + label {
     color: #000;
   }
   /* label underline focus color */
   .input-field input[type=text]:focus {
     border-bottom: 1px solid #000;
     box-shadow: 0 1px 0 0 #000;
   }
   /* valid color */
   .input-field input[type=text].valid {
     border-bottom: 1px solid #000;
     box-shadow: 0 1px 0 0 #000;
   }
   /* invalid color */
   .input-field input[type=text].invalid {
     border-bottom: 1px solid #000;
     box-shadow: 0 1px 0 0 #000;
   }
   /* icon prefix focus color */
   .input-field .prefix.active {
     color: #000;
   }
/*******************************************/       